.m-radio__control {
    border-radius: var(--m-radius-full);
}

.m-radio__input:checked + .m-radio__control::after {
    background: var(--m-color-on-emphasis);
    border-radius: var(--m-radius-full);
    content: "";
    height: 0.375rem;
    width: 0.375rem;
}

.m-radio__input:focus-visible + .m-radio__control {
    border-color: var(--m-color-primary-hover);
}

.m-radio--invalid .m-radio__input:focus-visible + .m-radio__control {
    border-color: var(--m-color-danger);
    box-shadow: var(--m-focus-shadow-danger);
}
